@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color:#0891b2 ;
    padding: 1rem 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    
}

.right{
    display: inline;
    padding: 0.75rem;
    font-size: large;
    color: white;
}

.inline{
    text-align: right;
    list-style: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: white;
    
    
}

.link-active{
    font-weight: bold;
}

.main-head{
    text-align: center;
}

.diff{
    background-color: rgb(224, 222, 220);
    padding: 1rem 1rem;
    text-align: center;
    
}

.space{
    
    
    text-decoration: none;
}

.projects{
    text-align: center;
    padding: 1rem 1rem;
}

.last-container{
    background-color: #0891b2;
    padding: 1rem 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: white;
    
    
}

.center{

    list-style: none;

}

.inl{
    display: inline;
    padding: 0.5rem;
    text-align: center;
}

.page{
    text-decoration: none;
    color:white;
    background-color: #0891b2;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

